.btn{
	.transition(0.2s);
	.border-radius(15px);
	.fp;
	margin: 0;
	padding: 0 12px;
	border : 0;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: #787878;
	&:hover{
		background: @cl;
	}
}
