// fonts
.fp {font-family: 'Arial','Helvetica',sans-serif;} // font primary
.fh {font-family: 'Arial','Helvetica',sans-serif;} // font header

// body
@bb: #fff; // body background

// colors
@cp: #646464; // color primary
@cl: #1a5875; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: @fsp; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 964px;
@content-padding: 18px;