#page-header{
	min-width: @content-width+(2*@content-padding);
	background: url(../images/bg/01.jpg) repeat-x top;
	.container{
		height: 222px;
	}
	.logo{
		float: left;
		margin: 27px;
		a{
			display: block;
			width: 158px;
			height: 159px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.search{
		float: right;
		margin: 17px 0;
		input[type=text]{
			.reset-input;
			.border-radius(20px);
			float: left;
			padding: 10px 40px 10px 20px;
			margin: 0 -39px 0 0;
			width: 200px;
			height: 17px;
			border: 1px solid #fff;
			background: #fff;
			&:focus{
				border-color: @cp;
			}
		}
		input[type=submit]{
			.reset-input;
			float: left;
			height: 39px;
			width: 39px;
			background: url(../images/icon/01.png) no-repeat -4px 1px;
			cursor: pointer;
			&:hover{
				background-position: -4px -39px;
			}
		}
	}
	.mainmenu{
		.reset-ul;
		position: absolute;
		right: @content-padding;
		bottom: 0;
		li{
			.reset-li;
			float: left;
			a{
				.border-radius(2px 2px 0 0);
				.transition(0.1s);
				position: relative;
				display: block;
				padding: 11px 26px 10px;
				color: #fff;
				font-size: 17px;
				margin: 0 0 0 1px;
				letter-spacing: 0.02em;
				text-decoration: none;
				background: #53706a;
				background: fade(#53706a,80%);
				&:hover{
					background: @cl;
				}
				&:before{
					position: absolute;
					content: '';
					top: 2px;
					bottom: 0;
					right: 100%;
					width: 1px;
					background: fade(#000,50%);
				}
			}
			&:first-child{
				a{
					&:before{
						display: none;
					}
				}
			}
			&.home{
				a{
					width: 12px;
					text-indent: -9999px;
					&:before{
						display: block;
						width: 44px;
						height: 44px;
						top: -2px;
						right: 11px;
						background: url(../images/icon/02.png) no-repeat;
					}
				}
			}
			&.on{
				a{
					background: #fff;
				}
				&.home{
					a{
						&:before{
							background-position: 0 -46px;
						}
					}
				}
			}
		}
	}
}
#wrapper{
	padding: 36px 0 12px;
	background: #f4f4f4;
}
#col-main{
	float: right;
	width: 730px;
}
#col-center{
	float: left;
	width: 480px;
}
#col-right{
	width: 220px;
	float: right;
}
#col-left{
	width: 206px;
	float: left;
}
#content{
	.clearfix;
	margin: 0 0 30px;
}
.news-items{
	article{
		.clearfix;
		font-size: 15px;
		line-height: @lhh;
		letter-spacing: 0.017em;
		margin: 0 0 32px;
		figure{
			float: left;
			margin: 4px 22px 0 0;
			img{
				.border-radius(2px);
			}
		}
		h2{
			font-size: 18px;
			margin: 0;
			color: @cl;
			letter-spacing: 0;
		}
		p{
			margin: 12px 0;
		}
		.more{
			display: inline-block;
			font-size: 14px;
			margin: 0 0 0 5px;
			letter-spacing: 0;
			&:before{
				float: right;
				content: '\203a';
				font-size: 16px;
				line-height: 1;
				margin: 0 0 0 7px;
				text-decoration: none;
			}
		}
		&.main-item{
			font-size: 16px;
			margin: 0 0 20px;
			figure{
				float: none;
				margin: 0 0 17px;
			}
			h2{
				font-size: 24px;
				margin: 0 0 20px;
			}
		}
	}
}
.news-archive{
	.search{
		margin: 15px 0;
		input[type=text]{
			width: 358px;
		}
	}
	section{
		article{
			.clearfix;
			font-size: 15px;
			line-height: @lhh;
			letter-spacing: 0.017em;
			padding: 20px 0 0;
			margin: 0 0 10px;
			border-top: 1px solid #e5e5e5;
			figure{
				float: left;
				margin: 4px 22px 0 0;
				img{
					.border-radius(2px);
				}
			}
			h2{
				font-size: 18px;
				margin: 0;
				color: @cl;
				letter-spacing: 0;
			}
			p{
				margin: 10px 0;
			}
			.more{
				display: inline-block;
				font-size: 14px;
				margin: 0 0 0 5px;
				letter-spacing: 0;
				&:before{
					float: right;
					content: '\203a';
					font-size: 16px;
					line-height: 1;
					margin: 0 0 0 7px;
					text-decoration: none;
				}
			}
		}
	}
}
.box-clenstvi{
	.border-radius(2px);
	position: relative;
	margin: 0 0 30px;
	font-size: 14px;
	color: #fff;
	background: #1a5875;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	a{
		color: #fff;
	}
	header{
		.border-radius(2px 2px 0 0);
		position: relative;
		padding: 12px 50px 12px 12px;
		font-size: 18px;
		line-height: @lhh;
		color: #fff;
		border-bottom: 1px dotted fade(#fff,40%);
		background: #11445f url(../images/icon/03.png) no-repeat 186px 12px;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			right: 18px;
			width: 1px;
			border: 5px solid transparent;
			border-top-color: #f4f4f4;
		}
	}
	.in{
		padding: 3px 12px;
		form{
			.clearfix;
			margin: 14px 0;
			[type=text]{
				.reset-input;
				.border-radius(14px);
				float: left;
				height: 18px;
				font-size: 14px;
				padding: 5px 28px 5px 10px;
				margin: 0 -28px 0 0;
				width: 158px;
				color: @cl;
				background: #fff;
			}
			[type=submit]{
				.reset-input;
				.border-radius(14px);
				float: left;
				width: 28px;
				height: 28px;
				color: @cl;
				&:before{
					content: '\203a';
				}
				&:hover{
					background: #f4f4f4;
				}
			}
		}
		p{
			margin: 7px 0;
		}
	}
	nav{
		.border-radius(0 0 2px 2px);
		padding: 10px 14px 13px;
		border-top: 1px dotted fade(#fff,40%);
		background: #1a5875;
		a{
			&:before{
				float: left;
				content: '+';
				font-size: 18px;
				line-height: 1;
				text-decoration: none;
				margin: 0 8px 0 0;
			}
		}
	}
}
.box-akce{
	.border-radius(2px);
	position: relative;
	margin: 0 0 30px;
	font-size: 14px;
	color: #c5d9d5;
	background: #587670;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	a{
		color: #fff;
	}
	header{
		.border-radius(2px 2px 0 0);
		position: relative;
		padding: 12px 50px 12px 12px;
		font-size: 18px;
		line-height: @lhh;
		color: #fff;
		border-bottom: 1px dotted fade(#fff,40%);
		background: #395b5b url(../images/icon/04.png) no-repeat 186px 12px;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			right: 18px;
			width: 1px;
			border: 5px solid transparent;
			border-top-color: #f4f4f4;
		}
	}
	.in{
		.item{
			padding: 3px 14px 8px;
			h3{
				font-size: 15px;
				font-weight: bold;
				margin: 10px 0;
				color: #fff;
			}
			.date{
				font-size: 12px;
				padding: 0 0 0 20px;
				margin: 0 0 -5px;
				background: url(../images/icon/07.png) no-repeat 0 1px;
			}
			p{
				margin: 5px 0;
			}
		}
	}
	nav{
		.border-radius(0 0 2px 2px);
		padding: 10px 14px 13px;
		border-top: 1px dotted fade(#fff,40%);
		background: #4f6a65;
		a{
			&:before{
				float: left;
				content: url(../images/icon/06.png);
				text-decoration: none;
				margin: 0 8px 0 0;
			}
		}
	}
}
.box-pro-lekare{
	.border-radius(2px);
	position: relative;
	padding: 14px 0 0 0;
	margin: 0 0 30px 0;
	border: 1px solid #cfd2c8;
	background: #fff;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	.title{
		margin: 0 12px 15px 12px;
		padding: 0 0 4px;
		border-bottom: 1px solid #eee;
	}
	.premium{
		margin: 10px 10px;
		font-weight: bold;
		font-size: 12px;
		a{
			color: #c80000;
			padding: 0 0 0 18px;
			background: url(../images/icon/09.png) no-repeat 0 1px;
		}
	}
	.search{
		padding: 0 10px 6px 10px;
		margin: 0 0 6px;
		input[type=text]{
			.reset-input;
			color: @cp;
			border: 1px solid #aaa;
			background: #fff url(../images/icon/08.png) no-repeat 6px 6px;
			padding: 6px 5px 6px 30px;
			width: 153px;
			height: 17px;
			font-size: 12px;
			color: @cp;
		}
	}
	.menu{
		ul{
			.reset-ul;
			height: 145px;
			overflow: auto;
			li{
				.reset-li;
				margin: 0 1px;
				border-top: 1px dotted #aeb1d3;
				a{
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: @cp;
					text-decoration: none;
					padding: 4px 0 3px 30px;
					background: url(../images/icon/bullet-casopis-grey.gif) no-repeat 10px 5px;
					&:hover{
						color: @cl;
						text-decoration: underline;
					}
				}
				&.darkgrey a {
					background-image: url(../images/icon/bullet-casopis-darkgrey.gif);
				}
				&.grey a {
					background-image: url(../images/icon/bullet-casopis-grey.gif);
				}
				&.lightred a {
					background-image: url(../images/icon/bullet-casopis-lightred.gif);
				}
				&.darkred a {
					background-image: url(../images/icon/bullet-casopis-darkred.gif);
				}
				&.orange a {
					background-image: url(../images/icon/bullet-casopis-orange.gif);
				}
				&.lightorange a {
					background-image: url(../images/icon/bullet-casopis-lightorange.gif);
				}
				&.black a {
					background-image: url(../images/icon/bullet-casopis-black.gif);
				}
				&.blue a {
					background-image: url(../images/icon/bullet-casopis-blue.gif);
				}
				&.darkblue a {
					background-image: url(../images/icon/bullet-casopis-darkblue.gif);
				}
				&.green a {
					background-image: url(../images/icon/bullet-casopis-green.gif);
				}
				&.darkgreen a {
					background-image: url(../images/icon/bullet-casopis-darkgreen.gif);
				}
				&.darkgreen2 a {
					background-image: url(../images/icon/bullet-casopis-darkgreen2.gif);
				}
				&.yellowgreen a {
					background-image: url(../images/icon/bullet-casopis-yellowgreen.gif);
				}
				&.lightgreen a {
					background-image: url(../images/icon/bullet-casopis-lightgreen.gif);
				}
				&.yellow a {
					background-image: url(../images/icon/bullet-casopis-yellow.gif);
				}
				&.darkyellow a {
					background-image: url(../images/icon/bullet-casopis-darkyellow.gif);
				}
				&.violet a {
					background-image: url(../images/icon/bullet-casopis-violet.gif);
				}
				&.violet2 a {
					background-image: url(../images/icon/bullet-casopis-violet2.gif);
				}
				&.brown a {
					background-image: url(../images/icon/bullet-casopis-brown.gif);
				}
				&.lightbrown a {
					background-image: url(../images/icon/bullet-casopis-lightbrown.gif);
				}
				&.lightblue a {
					background-image: url(../images/icon/bullet-casopis-lightblue.gif);
				}
				&.lightviolet a {
					background-image: url(../images/icon/bullet-casopis-lightviolet.gif);
				}
				&.pink a {
					background-image: url(../images/icon/bullet-casopis-pink.gif);
				}
				&.pink2 a {
					background-image: url(../images/icon/bullet-casopis-pink2.gif);
				}
				&.ocean a {
					background-image: url(../images/icon/bullet-casopis-ocean.gif);
				}
				&.redgrey a {
					background-image: url(../images/icon/bullet-casopis-redgrey.gif);
				}
				&.redwine a {
					background-image: url(../images/icon/bullet-casopis-redwine.gif);
				}
				&.pinkred a {
					background-image: url(../images/icon/bullet-casopis-pinkred.gif);
				}
				&.bluegreen a {
					background-image: url(../images/icon/bullet-casopis-bluegreen.gif);
				}
				&.darkviolet a {
					background-image: url(../images/icon/bullet-casopis-darkviolet.gif);
				}
				&.darkblue2 a {
					background-image: url(../images/icon/bullet-casopis-darkblue2.gif);
				}
				&.biogen a {
					background-image: url(../images/icon/bullet-casopis-biogen.gif);
				}
				&.greenblue a {
					background-image: url(../images/icon/bullet-casopis-greenblue.gif);
				}
				&.darkblue3 a {
					background-image: url(../images/icon/bullet-casopis-darkblue3.gif);
				}
				&.endo a {
					background-image: url(../images/icon/bullet-casopis-endo.gif);
				}
				&.violetwine a {
					background-image: url(../images/icon/bullet-casopis-violetwine.gif);
				}
				&.redpink a {
					background-image: url(../images/icon/bullet-casopis-redpink.gif);
				}
				&.brownred a {
					background-image: url(../images/icon/bullet-casopis-brownred.gif);
				}
				&.darkred2 a {
					background-image: url(../images/icon/bullet-casopis-darkred2.gif);
				}
				&.pentasa a {
					background-image: url(../images/icon/bullet-casopis-pentasa.gif);
				}
				&:nth-child(even) a{
					background-color:#f3f3f8;
				}
			}
		}
	}
}
.sidebar-menu{
	.border-radius(2px);
	position: relative;
	background: #fff;
	margin: 0 0 30px;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	&>ul{
		.reset-ul;
		&>li{
			.reset-li;
			&>a{
				display: block;
				padding: 8px 14px 7px;
				color: #787878;
				font-size: 15px;
				line-height: @lhh;
				text-decoration: none;
				border-bottom: 1px solid #e5e5e5;
				&:hover{
					text-decoration: underline;
				}
			}
			&.on{
				&>a{
					color: #fff;
					background: @cl;
				}
			}
			&:first-child{
				&>a{
					.border-radius(2px 2px 0 0);
				}
			}
			&:last-child{
				&>a{
					.border-radius(0 0 2px 2px);
				}
			}
		}
		ul{
			.reset-ul;
			padding: 3px 14px;
			background: #f8fafb;
			border-bottom: 1px solid #e5e5e5;
			li{
				font-size: 13px;
				line-height: @lhh;
				padding-left: 16px;
				margin: 4px 0;
				&:before{
					top: -1px;
				}
				a{
					color: #787878;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&.on{
					&:before{
						color: @cl;
					}
					a{
						color: @cl;
					}
				}
			}
		}
	}
}
.box-casopis{
	.border-radius(2px);
	position: relative;
	background: #fff;
	margin: 0 0 30px;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	h3{
		position: absolute;
		z-index: 1;
		left: 15px;
		top: 15px;
		width: 176px;
		margin: 0;
		font-size: 15px;
		background: fade(#fff,50%);
		a{
			text-decoration: none;
			display: block;
			padding: 10px 30px 10px 10px;
			background: url(../images/icon/10.png) no-repeat 150px center;
		}
	}
	.image{
		position: relative;
		a{
			display: block;
			padding: 15px;
			img{
				display: block;
			}
		}
	}
	&:hover{
		.image{
			a{
				img{
					-webkit-opacity: 0.9;
					-moz-opacity: 0.9;
					opacity: 0.9;
					filter:alpha(opacity=90);
				}
			}
		}
	}
}
.box-partneri{
	.border-radius(2px);
	position: relative;
	background: #fff;
	padding: 9px 15px;
	margin: 0 0 30px;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	header{
		font-size: 13px;
		line-height: @lhh;
		color: #a0a0a0;
		padding: 0 0 9px;
		margin: 0 0 20px;
		border-bottom: 1px solid #e5e5e5;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			margin: 10px 0;
			text-align: center;
		}
	}
}
#page-footer{
	position: relative;
	padding: 2px 0;
	&:before{
		position: absolute;
		content: '';
		top: 1px;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #e7e7e7 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%);
		background: -o-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%);
		background: -ms-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #e7e7e7 0%,#ffffff 100%);
	}
	.copy{
		font-size: 14px;
		a{
			color: @cp;
			&:hover{
				color: @cl;
			}
		}
		.separator{
			display: inline-block;
			margin: 0 6px;
			height: 13px;
			border-left: 1px dotted @cp;
		}
	}
}
.breadcrumbs{
	margin: 8px 0 18px;
	padding: 0 0 7px;
	font-size: 13px;
	border-bottom: 1px solid #e5e5e5;
	a,span{
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 0 0 0 10px;
		margin: 0 5px 0 0;
		color: @cl;
		&:before{
			position: absolute;
			content: '\203a';
			left: 0;
			top: -2px;
			color: @cp;
		}
		&.home{
			text-indent: -9999px;
			width: 20px;
			padding-left: 0;
			margin-right: 0;
			&:before{
				position: absolute;
				left: 0;
				top: 0;
				text-indent: 0;
				content: url(../images/icon/11.png);
			}
		}
	}
	a{
		color: @cp;
		&:hover{
			text-decoration: underline;
		}
	}
}
.pagination{
	margin: 30px 0;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
	a,span{
		.border-radius(2px);
		position: relative;
		display: inline-block;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		&.on{
			color: #fff;
			font-weight: bold;
			background: @cl;
		}
		&.prev,&.next{
			top: 3px;
			font-size: 28px;
			margin-top: -3px;
			margin-bottom: -3px;
		}
	}
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}