html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	margin: 30px 0 10px 0;
	line-height: @lhh;
	font-weight: normal;
}
h1{
	.fh;
	font-size: @fsh1;
	line-height: @lhh;
	color: @cl;
	margin-top: 0;
}
h2{
	.fh;
	color: @cl;
	font-size: @fsh2;
}
h3{
	.fh;
	color: @cl;
	font-size: @fsh3;
}
h4{
	font-size: @fsh4;
}
h5{
	font-size: @fsh5;
}
h6{
	font-size: @fsh6;
}
p{
	margin: 20px 0;
}
ul,ol{
	padding: 0;
	margin: 20px 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		position: absolute;
		top: 3px;
		left: 0;
		font-size: 14px;
		line-height: 1;
		content: '\203a';
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px solid darken(@cl,10%);
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
// form
label{
	display: block;
}
input[type=text],input[type=password],input[type=email]{
	.reset-input;
	.border-radius(2px);
	height: 18px;
	padding: 4px 7px;
	width: 140px;
	font-size: 14px;
	border: 1px solid #a0a0a0;
	background: #fff;
	&:focus{
		border-color: @cl;
	}
	&.input-small{
		width: 70px;
	}
	&.input-large{
		width: 180px;
	}
}
input[type=submit]{
	.btn;
}
.form-row{
	.clearfix;
	margin: 10px 0 10px -20px;
	.col{
		float: left;
		margin: 0 0 0 20px;
	}
}
// table
table{
	.box-shadow(0 0 1px #000);
	width: 100%;
	background: #fff;
	margin: 30px 0;
	th,td{
		border: 1px solid #e5e5e5;
		padding: 5px 10px;
	}
}