.clearfix{
	*zoom:1;
	&:before,&:after{
		display:table;
		content:"";
	}
	&:after{
		clear:both;
	}
}
.container{
	.clearfix;
	position: relative;
	width: @content-width;
	padding: 0 @content-padding;
	margin: auto;
	text-align: left;
}
.reset-ul{
	margin: 0;
	padding: 0;
}
.reset-li{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.reset-input{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}